<div class="row well">
<%= form_tag(create_moods_path) do %>
  <div class="span6">
  <%= label_tag(:unhappy_value, "Unhappy:") %>
  <%= text_field_tag(:unhappy_value) %>
  <%= label_tag(:happy_value, "Happy:") %>
  <%= text_field_tag(:happy_value) %>
  <%= submit_tag("Submit") %>
  </div>
  <div class="span6">
  <div id="datetimepicker1" class="input-append date">
    <input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
</div>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'pt-BR'
    });
  });
</script>
  </div>
<% end %>
<div/>
