<%= form_tag(create_moods_path, :class=>'.form-horizontal') do %>
<div class="row-fluid well">
  <div class="span6">
    <div class="control-group">
      <%= label_tag(:unhappy_value, "Unhappy:", :class=>'control-label') %>
      <%= text_field_tag(:unhappy_value, "", :class=>'controls') %>
    </div>
    <div class="control-group">
      <%= label_tag(:happy_value, "Happy:") %>
      <%= text_field_tag(:happy_value) %>
    </div>
    <div class="control-group">
      <%= label_tag(:date, "Date:") %>
      <%= date_field_tag(:date) %>
    </div>
    <%= submit_tag("Submit", :class=>'btn btn-primary') %>
  </div>
  <div class="span6">
  </div>
<div/>
<% end %>
